.gradiant {
    background: linear-gradient(90deg, blue, red);
}

.fill-primary {
    fill: blue;
}

.svg {
    width: 100%;
    height: 20px;
}

.text {
    background-image: linear-gradient(45deg, rgba(233,27,27,1) 0%, rgba(46,117,180,1) 33%, rgba(0,255,107,1) 66%, rgba(255,252,0,1) 99%);    background-size: 400%;
    font-size: 70px;
    word-spacing: 5px;
    -webkit-text-fill-color:transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: animate 10s linear infinite;
}